body{
    background-image: linear-gradient(rgb(145, 245, 145),white, rgb(161, 230, 161));
    background-image: url("https://i.pinimg.com/originals/8d/d7/0f/8dd70f07f52663ac1937818db33dad8b.jpg");
    background-position: left bottom;
    background-size: cover;
    max-width: 90%;
    text-align: center;
    margin: auto;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;;
    letter-spacing: 1px;
    line-height: 25px;
    color:rgb(10, 9, 9);
 }   
blockquote { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 160%;
    padding: 5px;
}
ul img{
    padding-left: 10px;
}
ul{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 40px;
}
li{
    padding: 10px;
}
li:nth-child(1){
    background-image: url("Sources\bien.png");
    background-repeat: no-repeat;
}
li:nth-child(2){
    background-image: url("Sources\mal.png");
    background-repeat: no-repeat;
}
li:nth-child(3){
    background-image: url("Sources\chat.png");
    background-repeat: no-repeat;
}
.list li{
    text-align: center;
}
.villagers{
    color: blue;
}
.farmer{
    color: brown;
}
header blockquote {
    background-color: yellow;
}
.good{
    color: green;
}
.bad{
    color: red;
}
.conclusion{
    background-color: rgb(161, 206, 142);
    border-left: 3px solid firebrick;
    margin: 25px 110px;
    padding: 20px;
    line-height: 35px;
}
p {
    letter-spacing: 1px;
    font-size: 17px;
}
.reality{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.reality img,p{
    padding: 10px;
}
.chineseFarmer{
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
.chineseFarmer img,P {
    margin: 10px 0;
    padding: 10px;
}
a:link {
    color: green;
}
a:hover {
    color: blue;
}
a:visited {
    color: red;
}
table, th, tr, td{
    margin: 20px;
    padding: 10px;
    border: 1px solid;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: rgb(219, 218, 218);
}
footer{
    text-align: center;
}
.notification{
    border-left: 2px solid firebrick;
    padding: 8px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    max-width: 400px;
}
.tableDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
